.userProfile {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.userSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userImage {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 16px;
}

.username {
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #333333;
  text-decoration: none;
}
